.col-lg-13{
    display: flex;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(209, 217, 225);
    letter-spacing: 2px;
    filter: contrast(30);
}
.col-lg-13 div{
    animation: showup 1s forwards;
}
.apps{
    cursor: pointer;
    margin-right: 10px;
}
.apps:hover{
    color: #8062f8;
}
@keyframes showup {
    from{
        letter-spacing: -10px;
        filter: blur(5px);
    }
    to{
        letter-spacing: 4px;
        filter: blur(0px);
    }
}
.markdown{
    color: #fff;
}
.markdown a{
    color: #fdfcfc;
    font-style: italic;
}
.action3{
    opacity: .5;
    color: #686868;
    white-space: nowrap;
    cursor: pointer;
}
.action3:hover{
    color: rgb(48, 48, 48);
    opacity: .8;
}
table,
tr,
td,
th {
  border: 1px solid #454040f5;
}